<mat-toolbar style="background-color:#1976d2;height:75px;padding-left:10px;padding-top: 5px" fxLayout="row"
             fxLayout.xs="column">
    <mat-toolbar-row fxLayout.xs="column">
        <div style="color: white; font-size: 14px;line-height: 1.6;font-family: 'Poppins', sans-serif;">Copyright © 2021
            Ventera Corp. All rights reserved.
        </div>
        <div class="flexExpand"></div>
        <div fxLayout="row" fxLayout.xs="column">
            <span style="color: white; font-size: 14px;line-height: 1.6;font-family: 'Poppins', sans-serif; padding-right: 20px;"><a
                    aria-hidden="false" aria-label="Cookie Policy">Cookie Policy</a></span>
            <span style="color: white; font-size: 14px;line-height: 1.6;font-family: 'Poppins', sans-serif; padding-right: 20px;"><a
                    aria-hidden="false" aria-label="Terms and Conditions">Terms and Conditions</a></span>
            <span style="color: white; font-size: 14px;line-height: 1.6;font-family: 'Poppins', sans-serif; padding-right: 20px;"><a
                    aria-hidden="false" aria-label="Terms and Conditions"> Privacy Policy</a></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
