.error-messages{
  padding:10px;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  height: auto !important;
}

.mat-chip.mat-standard-chip {
  background-color: green;
  color: white;
}

.conversion__form{
  padding-top: 75px;
  padding-bottom: 85px;
}

.example-icon {
  color: white;
}

.tooltip-green {
  background: green;
}
.mat-card-header{
  padding:5px !important;
}

.mat-card {
  border-radius: 10px !important;
  border: .5px solid #D3D3D3;
  box-shadow: none;
}

.mat-card-title {
  text-align: center !important;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

