<mat-toolbar style="background-color:#1976d2;" fxLayout="row"
             fxLayout.xs="column">
    <mat-toolbar-row>
        <span style="color: white; padding-top: 6px;padding-right: 15px;"><mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon></span>
        <div style="color: white;"> Ventera Corp.</div>
        <span class="flexExpand"></span>
        <div>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="Ventera Home">home</mat-icon></span>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="Share" color="1976d2">share</mat-icon></span>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="facebook" color="1976d2">facebook</mat-icon></span>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="facebook" color="1976d2">phone</mat-icon></span>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="facebook" color="1976d2">mail</mat-icon></span>
            <span style="color: white; padding-right: 10px;"><mat-icon aria-hidden="false" aria-label="SignIn" color="1976d2">login</mat-icon></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
